.btn-custom {
  background: #19B4B4; 
  border: 2px solid #19B4B4;
  width: 130px;
  height: 42px;
  flex-shrink: 0;
  color:#fff;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

.btn-custom-bkg{
  background: #19B4B4; 
  border: 2px solid #19B4B4;
  font-weight: 600;
}

.btn-custom-bkg:hover{
  background: #233565;
  border-color: #233565;
  
  cursor: pointer;
}

.btn-custom:hover {
  background: #233565;
  border-color: #233565;
  cursor: pointer;
}

@media (max-width: 834px) {
  .btn-custom {
    width: 112px;
    height: 40px;
    flex-shrink: 0; 
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .btn-custom {
    width: 80px;
    height: 32px;
    font-size: 16px;
  }
}

.btn-custom-bkg-danger{
  background: #F77883; 
  border: 2px solid #F77883;
  font-weight: 600;
 
}

.btn-custom-bkg-danger:hover{
  background: #870812;
  border-color: #870812;
  
  cursor: pointer;
}