.card_img{
    height: 150px;
    width: 100px;
}

.card {
    width: 350px;
    padding: 8px;
    border: solid 3px #19B4B4;
    
}

.second-row{
    padding: 8px;
    background-color: rgba(25, 180, 180, 0.15);
}

.icon-hover:hover {
    cursor: pointer;
  }

p{
    margin: 0;
}