.card_img{
    height: 150px;
    width: 100px;
}

.card {
    height: 280px;
    width: 350px;
    padding: 8px;
    border: solid 3px #19b4b4;
}

.second-row{
    border-top: solid 3px #19b4b4;
}

.icon-hover:hover {
    cursor: pointer;
  }