.hero-img {
     width: 860px;
     height: 480px;
}
.hero-text{
    width:860px;
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 12px;
}

.hero-highlight-text{
    color: #233565;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}

.hero-bookshelf{
    width: 860px;
    height: 228px;
    margin-bottom:60px;
    margin-top: 12px;
}

@media (max-width: 1422px) {
    .hero-img {
        width: 1000px;
    }
    .hero-bookshelf{
        margin-top: 72px;
    }
  }
@media (max-width: 834px) {
    .hero-img {
        width: 100vw;
        height: 50vh;
    }
    .hero-text{
        width: 100vw;
        margin-top: 30px;
    }

    .hero-bookshelf{
        width: 100vw;
        height: 224px;
        margin-top: 72px;
    }
  }
  
  @media (max-width: 400px) {
    .hero-img{
        margin-top: 60px;
        width: 100vw;
        height: 32vh;
    }
    .hero-text{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-top: 36px;
    }
    .hero-highlight-text{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
    .hero-bookshelf{
        width: 100vw;
        height: 112px; 
        margin-top: 36px;
    }
  }