.page-upper-padding {
  margin-top: 116px;
}

@media (max-width: 834px) {
  .page-upper-padding {
    margin-top: 106px;
  }
}

@media (max-width: 400px) {
  .page-upper-padding {
    margin-top: 80px;
  }
}
